<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @supplier.website %>
</p>

<p>
  <strong>Delivering:</strong>
  <% @supplier.tags.each do |tag| %>
    <%= tag.tag %>
  <% end %>
</p>
<p>
  <strong>Estimated time for delivery truck to arrive: </strong> <div id="tfd"></div>
  <strong>Projected route:</strong>
</p>
<div id="map" supplier_address="<%= @supplier.address %>,<%= @supplier.city %>" store_address="<%= current_user.address %>,<%= current_user.city %>"></div>


<%= link_to 'Edit Supplier Data', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
