<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @supplier.website %>
</p>

<p>
  <strong>tags:</strong>
  <% @supplier.tags.each do |tag| %>
    <%= tag.tag %>
  <% end %>
</p>
<div id="map" address="<%= @supplier.address %>"></div>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
